<!--Home View-->
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/first.jpg" class="c-block w-100 h-70" alt="...">
      <div class="carousel-caption">
        <h5 class="animated fadeInDown"
          style="animation-delay:1s;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          1-on-1 Career Mentorship</h5>

        <p class="animated fadeInUp d-none d-md-block"
          style="animation-delay:2s;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;letter-spacing: 0.17rem;">
          Master your craft with leading mentors at your side. Grow with every online mentoring session and take the
          next step in your career. All on your terms, for a flat monthly price.

        </p>
        <p class="animated fadeInUp" style="animation-delay:3s">
          <a href=""
            style="letter-spacing:0.15rem;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Learn
            More</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/secon.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption ">
        <div height="20px"></div>
        <h5 class="animated fadeInDown"
          style="animation-delay:1s; margin-top: 50px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          At your fingertips: a dedicated career coach.</h5>
        <p class="animated fadeInUp d-none d-md-block"
          style="animation-delay:2s;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;letter-spacing: 0.17rem;">
          Want to ace your next job interview? Successfully build your startup? Itching to learn high-demand skills?
          Work smart with an online mentor or coach by your side to offer expert advice and guidance to match your zeal.
          Become unstoppable using MentorCruise.</p>
        <p class="animated fadeInUp" style="animation-delay:3s">
          <a href=""
            style="letter-spacing:0.14rem;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Learn
            More</a>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/third.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption ">
        <h5 class="animated fadeInDown"
          style="animation-delay:1s;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          Learn that new skill, launch that project, land your dream career.</h5>
        <p class="animated fadeInUp d-none d-md-block"
          style="animation-delay:2s;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;letter-spacing: 0.17rem;">
          Your online mentor can elevate your career or be a shoulder to lean on. Get a personalized mentoring program,
          including curated study plans, regular check-ins, and unlimited actionable support. Be part of an online
          mentor community that spans across the globe</p>
        <p class="animated fadeInUp" style="animation-delay:3s">
          <a href="" style="">Learn More</a>
        </p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!--Home View Ends    -->

<!-- Service Section-->
<section style="background-color: white;" id="service">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h6 class="text-primary animated fadeInUp"
          style="font-weight: bold;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;letter-spacing: 2px;">
          SERVICES</h6>
        <h1 class="animated fadeInDown"
          style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
          At your fingertips: a dedicated career coach.</h1>
        <p class="animated fadeInDown"
          style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;letter-spacing: 1.5px;">
          Want to ace your next job interview? Successfully build your startup? Itching to learn high-demand skills?
          Work smart with an online mentor or coach by your side to offer expert advice and guidance to match your zeal.
          Become unstoppable using MentorCruise.</p>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="row justify-content-center" style="margin-left: 4%;margin-top: 2%;">
          <div class="col-md-4">
            <div class="card shadow " style="width: 18rem;">
              <div class="inner">
                <img
                  src="https://images.pexels.com/photos/7412068/pexels-photo-7412068.jpeg?auto=compress&cs=tinysrgb&w=600"
                  class="card-img-top" alt="...">
              </div>

              <div class="card-body text-center">
                <h5 class="card-title"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Find Your Mentor </h5>
                <p class="card-text"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Explore our growing catalogue of experienced mentors until you find the perfect fit.</p>

              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
              <div class="inner">
                <img
                  src="https://images.pexels.com/photos/360438/pexels-photo-360438.jpeg?auto=compress&cs=tinysrgb&w=600"
                  class="card-img-top" alt="...">
              </div>

              <div class="card-body text-center">
                <h5 class="card-title"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Apply for Mentorship</h5>
                <p class="card-text"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Fill in an application, and if you’re a match with your chosen mentor you can start your free 7-day
                  trial.</p>

                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow" style="width: 18rem;">
              <div class="inner">
                <img
                  src="https://media.istockphoto.com/photos/mountaineers-high-five-on-mountain-summit-picture-id1331838690?b=1&k=20&m=1331838690&s=612x612&w=0&h=YUKOKjkTyE8WW5hQNygCD-_ANf6SJkshs5788bqKzWU="
                  class="card-img-top" alt="..." style="height: 10.5em;">
              </div>

              <div class="card-body text-center">
                <h5 class="card-title"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  Level up your skills</h5>
                <p class="card-text"
                  style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  From personal chats to hands-on support, each mentor offers different services to help you skyrocket
                  your career.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center">
          <a class="btn btn-primary"
            style="margin-top: 2%;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"
            routerLink="/mentors">Find my Mentor</a>
        </div>
      </div>
</div>
  </div>
</section>
